*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: l00px;
}
#hm_img{
    width: fit-content;
    height: 50px;
    
}
nav{
    width: 50%;
    height: 100px;
    align-items:center ;
}
input{
    border: none;
    background-color: white;
    font-size: large;
}
